html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Website starts here!
*/
a:link {color:#555555;}    
a:visited {color:#555555;} 
a:hover {color:#777777;}   
a:active {color:#555555;}
a.note:link {color:#555555; text-decoration: none;}
a.note:hover{color:#777777; text-decoration: underline;}


.askpost {
	width: 100%;
 	text-align: left;
 	padding-top: 45px;
	max-width: 500px;
	margin: auto;
	}
.break {
	background-color: #d3d3d3;
 	height: 1px;
 	margin-top: 0px;
 	margin-bottom: 0px;
 	border: none;
}
.date {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700; 
	color:#333333;
	font-size: 14px;
}
.followli a {
  color: #555555;
}
.followli a:hover{
  color: #777777;
}
.followli.active a  {
  color: #777777;
}
.h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700; 
	color:#333333;
	font-size: 18px;
	background-image: url('header.png');
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 280px;
	line-height: 2.5;
}
.header { 
 	width: 100%;
 	height: 400px;
	text-align: center;
	}
.headwrapper {
	padding-top: 15px;
	width: 350px;
	margin: auto;
}
.imagewrapper {
	padding-top: 30px;
}
.navul {
	padding-top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	color:#333333;
	font-size: 14px;
}
.navli {
  height: 25px;
  display: inline;
  list-style-type: none;
  padding-right: 15px;
}
.notewrapper {

	width: 100%;
	margin: auto;
	}
.note{
	padding-top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700; 
	color:#333333;
	font-size: 14px;
}
.p,.answer{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: 18px;
	color:#444444;
	line-height: 1.8;
	padding-top: 15px;
}
.question{
	padding-top: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600; 
	color:#333333;
	font-size: 16px;
}	
.textpost { 
 	width: 100%;
 	text-align: left;
 	padding-top: 45px;

	}
.textpostwrapper {
	max-width: 500px;
	margin: auto;
}

